$h1=0.5rem;
$h2=0.4rem;
$h3=0.3rem;
$h4=0.2rem;


$bheight=4.5rem;
$lineheight=1rem;


$margin=10px;


$width1=1rem;
$width2=1.5rem;
$width3=2rem;
$width4=2.5rem;
$width5=3rem;
$width6=3.5rem;
$width7=4rem;
